@model BiometricProject.Models.Models.UserDetailsModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserDetailsModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AadharNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AadharNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OTP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OTP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OTPGenertedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OTPGenertedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BiometricImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BiometricImage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
