@model BiometricProject.Models.Models.VotingBaseModel
<html>
<head>
    <style>
        .user-profile img.avatar {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            margin-right: 12px;
        }
    </style>
</head>
<body background="">
    <div class="form-group text-center" style="background-color:gainsboro;">
        <br />
        @Html.Label("Online voting screen")
        <br />
    </div>
    <div>
        <h4><marquee><span>Cast your vote online</span></marquee></h4>
    </div>
    <div style="background-color:blue">
        <a class="float-right" href="~/Account/Login"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a>
    </div>
    @using (Html.BeginForm("VoteDetails", "Account", FormMethod.Post, new { @id = "voteDetailsFrmId", @class = "form-horizontal" }))
    {
        @Html.HiddenFor(model => model.userDetails.AadharNumber)
        @Html.HiddenFor(model=>model.VotedPartyId)
        <div>
            <div class="form-group">
                @Html.Label("Name", new { @class = "control-label col-3" })
                @Html.DisplayFor(model => model.userDetails.AadharDetails.Name, new { @class = "control-label" })
            </div>
            <div class="form-group">
                @Html.Label("Aadhar Number", new { @class = "control-label col-3" })
                @Html.DisplayFor(model => model.userDetails.AadharNumber, new { @class = "control-label" })
            </div>
            <div class="form-group">
                @Html.Label("Assembly Constituency", new { @class = "control-label col-3" })
                @Html.DisplayFor(model => model.userDetails.AadharDetails.AssemblyConstituencyId, new { @class = "control-label" })
            </div>
        </div>
        <div>
            <table class="table table-striped" id="tblProductPricingGroup">
                <thead>
                    <tr>
                        <th scope="col" class="width5">S.No</th>
                        <th scope="col" class="width15">Candidate Name</th>
                        <th scope="col" class="width15">Party Name</th>
                        <th scope="col" class="width15">Party Symbol</th>
                        <th scope="col" class="width15">Vote</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 0;}
                    @foreach (var d in Model.partyDetails)
                    {
                        <tr>
                            <td class="width5">@(++i)</td>
                            <td class="width15">@d.CandidateName</td>
                            <td class="width15">@d.PartyName</td>
                            <td class="width15"><img class="avatar user-thumb" style="border-radius: 50%;width:36px" src='/images/@d.PartySymbols.Id-partysymbol.jpg' alt="avatar"></td>
                            <td class="width15"><input type="radio" id="@d.Id" name="selectparty" value="@d.PartyName" onchange="return SelectedPartyId(@d.PartySymbols.Id)"></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-12">
                <div class="text-right"><button type="button" class="btn btn-primary" id="voteSubmitBtnId">Submit</button></div>
        </div>
    }
</body>
</html>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#ajaxLoaderDiv").hide();        

    });

    $("#voteSubmitBtnId").click(function () {
        if ($("#VotedPartyId").val() > 0) {
            $("#ajaxLoaderDiv").show();
            $.ajax({
                url: '@Url.Action("VoteDetails", "Account")',
                type: 'GET',
                dataType: 'json',
                async: false,
                data: $("#voteDetailsFrmId").serialize(),
                success: function (data) {
                    if (data == "Success") {
                        alert("Your vote submitted successfully");
                        //swal("Success", "Your vote submitted successfully", "success");
                        redirectTOLogin();
                    }
                    else {
                        swal("Error", data, "error");
                    }
                }
            });
            $("#ajaxLoaderDiv").hide();
        }
        else {
            swal("Information", "Please select any one candidate", "info");
        }
    });

    //Disable Back Button In All Browsers.
    function DisableBackButtonAllBrowsers() {
        window.history.forward()
    };
    DisableBackButtonAllBrowsers();
    window.onload = DisableBackButtonAllBrowsers;
    window.onpageshow = function (evts) { if (evts.persisted) DisableBackButtonAllBrowsers(); };
    window.onunload = function () { void (0) };

    function SelectedPartyId(id) {
        $("#VotedPartyId").val(id);
    }    

    function redirectTOLogin() {
        window.location.href = '@Url.Action("Login","Account")';
    }

</script>