@model BiometricProject.Models.Models.UserDetailsModel
@{
    ViewBag.Title = "ResetPassword";
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/images/2.jpg">
    <title>Register for Online Vote</title>
</head>
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @id = "resetPasswordFrmId" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model=>model.AadharNumber)
    <body background="">
        <div class="container">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Reset Passord</h5>
                        <form class="form-signin">
                            <div class="form-label-group">
                                @Html.Label("Aadhar Number")
                                @Html.TextBoxFor(m => m.AadharNumber, new { @class = "form-control", placeholder = "Aadhar Number", @disabled = "disabled" })
                                <small>@Html.ValidationMessageFor(model => model.AadharNumber, "", new { @class = "text-danger" })</small>
                            </div>
                            <br />
                            <div class="form-label-group">
                                @Html.Label("Name (As per Aadhar)")
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                                <small>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })</small>
                            </div>
                            <br />
                            <div class="form-label-group">
                                @Html.Label("Phone (As per Aadhar)")
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Phone Number" })
                                <small>@Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })</small>
                            </div>
                            <br />
                            <div class="form-label-group">
                                @Html.Label("Email (As per Aadhar)")
                                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", placeholder = "Email Address" })
                                <small>@Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })</small>
                            </div>
                            <br />
                            <div class="col-md-12 mt-1">
                                <button type="button" class="btn btn-danger float-left" id="cancelId">Cancel</button>
                                <button type="button" class="btn btn-primary float-right" id="submitId">Submit</button>
                            </div>
                        </form>
                        <div id="oTPValidateDiv" style="display:none" class="mt-2">
                            <br />
                            <div class="form-label-group">
                                @Html.Label("New Password")
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "New Password" })
                                <small>@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</small>
                            </div>
                            <br />
                            <div class="form-label-group">
                                @Html.Label("Confirm New Password")
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm New Password" })
                                <small>@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })</small>
                            </div>
                            <br />
                            <div class="form-label-group">
                                @Html.PasswordFor(m => m.OTP, new { @class = "form-control", placeholder = "OTP" })
                                <small>@Html.ValidationMessageFor(model => model.OTP, "", new { @class = "text-danger" })</small>
                            </div>
                            <br />
                            <button type="button" id="verifyBtnId" class="btn btn-lg btn-success btn-block text-uppercase">Reset Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
}

</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#ajaxLoaderDiv").hide();

    });

    $("#cancelId").click(function () {
        window.location.href = '@Url.Action("Login","Account")';
    });

    $("#submitId").click(function () {
        var Allow = true;
        if ($("#Name").val() == "") {
            $('span[data-valmsg-for="Name"]').text("Please Enter Name");
            Allow = false;
        }
        else {
            $('span[data-valmsg-for="Name"]').text("");
        }
        if ($("#PhoneNumber").val() == "") {
            $('span[data-valmsg-for="PhoneNumber"]').text("Please Enter Phone Number");
            Allow = false;
        }
        else {
            $('span[data-valmsg-for="PhoneNumber"]').text("");
        }
        if ($("#EmailAddress").val() == "") {
            $('span[data-valmsg-for="EmailAddress"]').text("Please Enter Email Address");
            Allow = false;
        }
        else {
            $('span[data-valmsg-for="EmailAddress"]').text("");
        }
        if (Allow == false)
            return false;
        else {
            $("#ajaxLoaderDiv").show();
            $.ajax({
                url: '@Url.Action("ValidateAadharDetailsForResetPassword", "Account")',
                type: 'GET',
                dataType: 'json',
                data: $("#resetPasswordFrmId").serialize(),
                success: function (data) {
                    if (data == "true") {
                        $("#ajaxLoaderDiv").hide();
                        $("#oTPValidateDiv").css("display", "block");
                        $("#submitId").css("display", "none");
                        $("#cancelId").css("display", "none");
                        $("#Name").prop("disabled", true);
                        $("#PhoneNumber").prop("disabled", true);
                        $("#EmailAddress").prop("disabled", true);
                        swal("Information", "Please verify OTP sended to your registered mail", "info");
                        return false;
                    }
                    else {
                        $("#ajaxLoaderDiv").hide();
                        swal("Error", "Entered details are not matched with aadhar database", "error");
                    }
                }
            });
        }
    });

    $("#verifyBtnId").click(function () {

        var resetPasswordAllow = true;
        if ($("#Password").val() == "") {
            $('span[data-valmsg-for="Password"]').text("Please Enter New Password");
            resetPasswordAllow = false;
        }
        else {
            $('span[data-valmsg-for="Password"]').text("");
        }
        if ($("#ConfirmPassword").val() == "") {
            $('span[data-valmsg-for="ConfirmPassword"]').text("Please Enter Confirm New Password");
            resetPasswordAllow = false;
        }
        else {
            $('span[data-valmsg-for="ConfirmPassword"]').text("");
            if ($("#ConfirmPassword").val() != $("#Password").val()) {
                $('span[data-valmsg-for="ConfirmPassword"]').text("New Password and Confirm New Password are not matched");
                resetPasswordAllow = false;
            }
            else {
                $('span[data-valmsg-for="ConfirmPassword"]').text("");
            }
        }
        if ($("#OTP").val() == "") {
            $('span[data-valmsg-for="OTP"]').text("Please Enter OTP");
            resetPasswordAllow = false;
        }
        else {
            $('span[data-valmsg-for="OTP"]').text("");
        }
        if (resetPasswordAllow == false)
            return false;
        else {
            $("#ajaxLoaderDiv").show();
            $.ajax({
                url: '@Url.Action("ResetUserPassword", "Account")',
                type: 'GET',
                dataType: 'json',
                data: $("#resetPasswordFrmId").serialize(),
                success: function (data) {
                    if (data) {
                        $("#ajaxLoaderDiv").hide();
                        alert("Password reseted successfully");
                        //swal("Success", "Password reseted successfully", "success");
                        window.location.href = '@Url.Action("Login","Account")';
                    }
                    else {
                        $("#ajaxLoaderDiv").hide();
                        //alert("OTP incorrect/OTP expired");
                        swal("Error", "OTP incorrect/OTP expired", "error");
                    }
                }
            });
        }
    });

    //Disable Back Button In All Browsers.
    function DisableBackButtonAllBrowsers() {
        window.history.forward()
    };
    DisableBackButtonAllBrowsers();
    window.onload = DisableBackButtonAllBrowsers;
    window.onpageshow = function (evts) { if (evts.persisted) DisableBackButtonAllBrowsers(); };
    window.onunload = function () { void (0) };

</script>

